.versions
  &__content
    padding: 25px 0 0 25px
    line-height: 16px
    font-size: 17px
  &__value
    font-size: 28px
    line-height: 32px
    display: block
    margin-bottom: 25px
    color $success-color
  &__description
    font: normal normal 400 1.6vmin/3vmin "Raleway", sans-serif